/*ESTILOS DE TODAS AS PÁGINAS*/

/* estilo do cabeçalho */

.header {
    background-color: #7b1fa2;
    /* cor de fundo*/
    padding: 10px 20px;
    /*tamanho da área*/
    align-items: center;
    /* alinhar no centro*/
    display: flex;
    /*redimensionar*/
    justify-content: space-between;
    /*colocar os espaços ao lado*/
}

/* Configurando a logo do site */
.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 18px;
    /* tamanho da fonte do texto*/
    font-weight: bold;
    /*texto em negrito*/

}

.logo img {
    /*dimensões da imagem*/
    width: 80px;
    /*tamanho*/
    margin-right: 10px;
    /*margens*/
}

/*CONFIGURAÇÃO DA BARRA DE PESQUISA DO MENU SUPERIOR*/

.search-box {
    flex: 1;
    max-width: 600px;
    /*largura máxima*/
    margin: 0 20px;
    /* margens da caixa*/
    position: relative;
    /*posição*/
}

.search-box input {
    /*configuração da parte de dentro*/
    width: 100%;
    /*preencher toda área*/
    padding: 10px 40px 10px 15px;
    /*definindo o espaço cima,direita,baixo,esquerda*/
    border: none;
    /*borda da caixa*/
    border-radius: 20px;
    /*expessura da borda*/
    font-size: 16px;
    /*tamanho da fonte do texto*/
}

/*CONFIGURANDO OS ICONES DO MENU SUPERIOR*/

.icons {
    display: flex;
    /* os icones ficam flexiveis a mudança de tela*/
    gap: 20px;
    /*espaço entre os icones*/
    align-items: center;
    /*centralizar os itens no meio do menu*/
    margin-right: 20px;
    /*dá um espaço do icone com a borda lateral do menu*/
}

.icons img {
    /**configurando as imagens dos icones*/
    width: 32px;
    height: 32px;
    cursor: pointer;

}

/* CONFIGURAÇÕES PARA O RODAPÉ*/

.footer {
    background-color: #cba3c9;
    /*cor de fundo*/
    padding: 15px 40px 15px 40px;
    /*dimensão*/
    color: white;
    /*cor do texto*/
    font-family: Arial, Helvetica, sans-serif;
    /*fonte dos textos*/

}

.footer-esquerdo {
    font-weight: bold;
    /*colocando o texto em negrito*/
    margin: 0;
}

.footer-direito {
    text-align: right;
    /*Texto alinhado à direita*/
    margin: 0 0 8px 0;
}

.icons-sociais {
    /*configurando a área onde fica os icones das redes sociais*/
    display: flex;
    gap: 20px;
    /*distancia entre eles*/
    justify-content: flex-end;
}

.icons-sociais img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s; /* animação suave ao passar o mouse em cima*/

}

/* Inicio do Estilo Geral --------------------------------- */
body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}
/* Fim do Estilo Geral ------------------------------------ */

/* Inicio do Navbar --------------------------------------- */
.bg-purple {
  background-color: #7b139e;
}
/* Fim do Navbar ------------------------------------------ */

/* Inicio do Card ----------------------------------------- */
.form-card {
  max-width: 450px;
  width: 100%;
  background: #fff;
  border: none;
  margin-top: -60px; /* Ajuste para compensar navbar */
}

.logo {
  width: 90px;
  height: auto;
}

.text-purple {
  color: #7b139e;
}

.btn-purple {
  background-color: #7b139e;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: 12px;
  border-radius: 8px;
}

.btn-purple:hover {
  background-color: #5e0f79;
  color: #fff;
}
/* Fim do Card ------------------------------------------- */

/* Inicio dos Botões de Senha ---------------------------- */
.toggle-password {
  border: none;
  background: transparent;
  font-size: 1.1rem;
  cursor: pointer;
}
/* Fim dos Botões de Senha ------------------------------- */


/*configuração da área de login*/

.login-card{
  background-color: #bab4b45a;
}